:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

.navbar {
    padding-left: 0%;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
}


.secondary-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

body {
    font-family: var(--default-font-family);
    margin: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: "var(--heading-font-family)";
    font-weight: bold;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }

    h2 {
        font-size: 44px;
    }

    .project-desc {
        padding: 0px;
        text-align: center;
    }

    .hero {
        padding: 80px 20px;
    }

    .about-section {
        text-align: center;
        padding: 0;
    }
}

h2 {
    font-size: 64px;
}

h4 {
    font-size: 18px;
}


p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
}

.content-container {
    padding: 160px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    line-height: 1;
    margin: 20px 0 0;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 14px;
}

.content {
    margin: 30px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

@media (max-width: 768px) {

    .btn-branding,
    .btn-branding-outline {
        padding: 8px 16px;
        font-size: 14px;
    }
}

.project-desc {
    padding: 120px 60px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.header-paragraph {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    color: var(--branding-color)
}

.header-one {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 64px;
    line-height: 1.5;
}

footer {
    margin: 60px 0px;
}

footer .email-link {
    text-decoration: none;
    font-size: 24px;
    color: black;
    text-align: center;
}

footer .email-link:hover {
    background: var(--branding-color);
    color: white;

}

footer .social-links a :hover {
    margin-top: 30px;
}

footer .social-links a {
    margin:0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .contact-box {
    background: var(--secondary-color);
    padding: 30px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}